RewriteEngine on

RewriteCond %{HTTP_HOST}    =www.gruababua.de
RewriteRule "^$"   "/index-bay.html" [L,R]

RewriteCond %{HTTP_HOST}    =gruababua.de
RewriteRule "^index.html"   "/index-bay.html" [L,R]

RewriteCond %{HTTP_HOST}    =gruababua.de
RewriteRule "^$"   "/index-bay.html" [L,R]

RewriteCond %{HTTP_HOST}    =gruababua.de
RewriteRule "^index.html"   "/index-bay.html" [L,R]

RewriteCond %{HTTP_HOST}    !=localhost
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
